<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://func-04.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8d7dae94-7b4b-4a53-8a49-2fa6c1ea189c/resourceGroups/jam04/providers/Microsoft.Web/sites/func-04</ResourceId>
    <UserName>$func-04</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://func-04.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>