<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jam05-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/8d7dae94-7b4b-4a53-8a49-2fa6c1ea189c/resourceGroups/jam05/providers/Microsoft.Web/sites/jam05-func</ResourceId>
    <UserName>$jam05-func</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://jam05-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>